.dropdown-svg-icon {
    color: white !important;
}

.dropdown-svg-icon-black {
    color: black !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: white !important;  
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
    color: white !important;  
}